* {
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  /* background-color: #f0f0f0; */
  /* background-color: #f2f2f2; */
  background-image: url(src/bg.jpg);
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.side {
  /* height: 100%; */
  width: 25%;
  margin: 0 10%;
  position: absolute;
  /* overflow-x: hidden; */
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.side img {
  width: 100%;
  height: auto;
}

.side h1 {
  text-align: right;
  background-color: black;
  opacity: 0.7;
  color: #fff;
  margin-top: -1.5em;
  font-size: x-large;
}

.side span {
  /* color: #000; */
  font-weight: 750;
  color: #3c3c3c;
  font-style: italic;
}

.side i {
  padding: 0 1em;
  color: #0066ff;
}

.me {
  margin: -2% 0;
  padding: 0 0 1em 0;
}

.me i {
  padding: 1em;
}

.me span {
  color: #000;
  padding: 0 0 0 1em;
  font-weight: 400;
}

.side .edu {
  padding: 5px 0;
}

.edu .title {
  font-size: medium;
  font-weight: 500;
  color: #3c3c3c;
  padding: 0 1em;
}

.edu .date {
  padding: 0 0 0 1em;
  font-size: small;
  font-weight: 650;
  color: #616161;
  margin: 0 0 0 1%;
}

.edu i {
  padding: 0 1em 0 0;
}

.edu .content {
  font-size: small;
  padding: 0 1em;
  margin: 0 0 0 1%;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

main {
  width: auto;
  height: auto;
  margin: 1% 0 0 0;
  /* margin: -50em 0 0 0; */
}

.container {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 50%;
  padding: 1em;
  margin: 0 0 1em 40%;
  overflow: auto;
  height: 25em;
}

.container i {
  font-size: 25px;
  color: #0080ff;
}

.container i span {
  padding: 0 1em;
  font-size: 25px;
  font-weight: 750;
  color: #3c3c3c;
}

.container .title {
  font-size: large;
  font-weight: 500;
  color: #3c3c3c;
}

.container .date {
  font-size: small;
  font-weight: 650;
  color: #616161;
  padding: 5px 0;
}

.container .date i {
  padding: 0 1em 0 0;
  font-size: small;
  color: #0080ff;
}

.container .content {
  font-size: 15px;
}

.container .title a:link,
a:visited {
  border-radius: 3.5px;
  background-color: #0080ff;
  color: #fff;
  padding: 1px 5px;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.container .title a:hover,
a:active {
  border-radius: 5px;
  background-color: #0066ff;
  color: #fff;
}

.container h4 {
  font-size: small;
  color: #616161;
}

.container2 {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 50%;
  padding: 1em;
  margin: 0 0 1em 40%;
}

.container2 i {
  font-size: 25px;
  color: #0080ff;
}

.container2 i span {
  padding: 0 1em;
  font-size: 25px;
  font-weight: 750;
  color: #3c3c3c;
}

.container2 h4 {
  font-size: small;
  color: #616161;
}

.skill {
  width: 100%;
  background-color: #ddd;
}

.skills {
  font-size: small;
  text-align: right;
  padding: 2.5px;
  color: white;
}

.satu {
  width: 95%;
  background-color: #0080ff;
}

.dua {
  width: 90%;
  background-color: #0066ff;
}

.tiga {
  width: 85%;
  background-color: #0080ff;
}

.empat {
  width: 80%;
  background-color: #0066ff;
}

.lima {
  width: 75%;
  background-color: #0080ff;
}

.enam {
  width: 70%;
  background-color: #0066ff;
}

.tujuh {
  width: 65%;
  background-color: #0080ff;
}

.delapan {
  width: 60%;
  background-color: #0066ff;
}

.sembilan {
  width: 55%;
  background-color: #0080ff;
}

.sepuluh {
  width: 50%;
  background-color: #0066ff;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

footer {
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  background-color: #0080ff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

footer h4 {
  padding: 1em 0 0 0;
}

.icon {
  background-color: #0066ff;
}

.icon i {
  color: #fff;
  padding: 0 1em;
  font-size: medium;
}
